.wall-container{
    width: 100%;
    height: 80vh;
    background-image: url(heroWall.svg);
    background-size: cover;
    background-position: center;
}
.header-container{
    display: flex;
    justify-content: space-between;
    height:80px;
    align-items: center;
   
}
.searchBar{
    width:400px;
   
}
.searchInput {
    width:350px;
    border: 1px solid silver;
    border-radius: 10px;
    
}
.searchInput:focus,.searchInput:hover{
    outline:none;
    box-shadow:0 3px 5px silver;

}
.userLogin{
    display:flex;
    flex-direction: column;
    width:300px;
   
}
form>h2{
    text-align: center;
}
.loginInput{
border: none;
font-size: 14px;
border-left: 1px solid silver;
border-bottom: 1px solid silver;
padding: 6px;

}
.loginInput:focus{
    outline: none;
    box-shadow:0 3px 5px silver;
}

.loginButton{
    border: none;
    background-color:#35eccd;
    border-radius: 5px;
    padding: 3px;
    text-align:center ;
    width: 80px;
  
}
.loginButton:focus{
    outline: none;
}
.loginButton:hover{
    background-color: #2abda4;
}