@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');
:root{
  --darkC:#260d0d;
  --mainC:#ffea58;
  --lightC:#f1f2f1;
  --bLightC:125, 161, 174;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: unset;
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
  outline-color: transparent !important;
}

html{
  background-color: var(--darkC);
}

html::-webkit-scrollbar{
  display: none;
}
.App{
  background-color: var(--lightC);
  display: flex;
  flex-direction: column;
}

h1 , h5{
margin-bottom: 0;
}

header{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  display: flex;
  background-color: var(--darkC);
  min-height: 10vh;
  justify-items: center;
  align-items: center;
  margin: 0;
  z-index: 999;
}
header .header{
  width:80vw;
  text-align: center;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  margin: auto;
}
.logo-section{
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-start;
}
.logo-section h1{
  color:var(--mainC);
  margin-bottom:0;
  font-size: 2rem;
  letter-spacing: .2rem;
}


nav{
  display: flex;
  justify-content: center;
}
.nav-links{
  flex:3;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 0;
}
.nav-links li a{
  font-size: 1.5rem;
  margin-left:15px;
  color: rgb(var(--bLightC));
}
.nav-links li :hover{
  cursor: pointer;
  color: var(--lightC);

}

.nav-links .navLink{
  font-size: 1.8rem;
  text-decoration: none;
}
/* End of header */

.container{
  top:80px;
  min-height: 90vh;
  width:80vw;
  margin:0 auto;
  margin-bottom: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}  

.hero{
  
}
.section{
  width: 80vw;
  height: 90vh;
  background-color: var(--mainC);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* First Login  */
.firstLogin{
  margin-top: 30px;
  padding: 10px;
  width:100%;
  height:80vh;
  background-color: var(--bLightC);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 3px 6px var(--darkC);
}
.firstLoginForm{
  width:90%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.option{
  width:45%;
  height: 90%;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border: 1px thin var(--darkC);
  background-color: var(--lightC);
}
.option h3{
 color: var(--darkC);
}
.active{
  box-shadow:0 3px 6px var(--darkC);
}
.firstLogin button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color:var(--darkC);
  color:var(--mainC);
  text-transform: uppercase;
  font-weight: bold;
  width:10rem;
  font-size: rem;
}

/* End of first login  */
/* Contents  */
  /* Course View */
  .courseList{
    display: flex;
    justify-content: space-around;
    min-width:90vw;

  }
  .courseBox{
    min-width: 25%;
    min-height: 10vh;
    margin:5px;
    cursor: pointer;
  }
  /* Course view */
.videoBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.tutView{
  max-width:30%;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding:8px;
  background-color: rgba(var(--bLightC),0.1);
  color:var(--darkC);
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: .1rem;
  border-radius: 5px;

}

/* End of Content  */








/* Footer  */
footer{
  min-height: 10vh;
  bottom: 0;
  right: 0;
  background-color:var(--darkC);
  z-index: 2;
}
/* End of footer  */

@media screen and (max-width:1300px){
  .container{
    width: 100vw;
  }

}
@media screen and (max-width:1094px){
  .container{
    width: 100vw;
  }
  .tutView{
    max-width: 48%;
  }

}

/* for mobile  */
@media screen and (max-width:678px){
  header .header{
    width: 100%;
    height:auto;
    padding: auto 20px;
  }
.logo-section{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: stretch;
  flex: 3;
}

  .line{
    width:30px;
    height:3px;
    background:var(--lightC)
 ;
    margin: 5px;
  }
  nav{
    position: relative;
  }
  .hamburger{
    position: relative;
    cursor: pointer;
    z-index: 99;
    transition:all .8s ease-out;
  }
  .navRotate{
    transform-origin:center;
    transform: rotateZ(90deg);
  }
.nav-links{
  position: fixed;
  background-color:var(--darkC);
  height: 100vh;
  width:100%;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: circle(10px at 180% -90%);
  -webkit-clip-path:circle(10px at 180% -90%);
  transition: all 1s ease-out;
}
.nav-links li{
  color:var(--bLightC);
}
.nav-links.open{
   clip-path: circle(1200px at 90% -10%);
  -webkit-clip-path:circle(1200px at 90% -10%);
 
}
.section{
  width:100vw;
}





.firstLogin h2{
  font-size: 1.2rem;
}
.firstLoginForm{
  height: 50%;
}
.option{
  height: 50%;
}
.option h3{
  font-size: 1.2rem;
}
.videoBox{
  display: flex;
  flex-direction: column;
  width: 90vw;
}
.tutView{
  min-width: 90vw;
 flex-direction: column;
}

}
